%form{:method => "POST", :action => '/new'}
  %input{:type => "hidden", :name => "_method", :value => "PUT"}
  %table
    %tr
      %td from
      %td 
        %input{:type => "text", :name => "from"}
    %tr
      %td to
      %td
        %input{:type => "text", :name => "to"}
    %tr
      %td label
      %td
        %input{:type => "text", :name => "label"}
    %tr
      %td
      %td
        %input{:type => "submit"}

%form{:method => 'POST', :action => '/delete'}
  %input{:type => "hidden", :name => "_method", :value => "PUT"}
  %input{:type => 'submit', :value => '消す'}
  %br
  - @relations.each do |r|
    %input{:type => 'checkbox', :name => "relation", :value => r.id}
    = r.to_s
    %br

%img{'src' => 'data:image/png;base64,' + Relations.to_base64png}
%br
%a{:href => 'http://github.com/takano32/chaos_image/tree/master/relation'}
  http://github.com/takano32/chaos_image/tree/master/relation

