%form{:method => "POST", :action => '/new'}
  %input{:type => "hidden", :name => "_method", :value => "PUT"}
  %table
    %tr
      %td from
      %td 
        %input{:type => "text", :name => "from"}
    %tr
      %td to
      %td
        %input{:type => "text", :name => "to"}
    %tr
      %td label
      %td
        %textarea{:name => "label", :cols => 60, :rows => 8}
    %tr
      %td
      %td
        %input{:type => "submit"}

- @relations.each do |relation|
  .relation
    = relation.to_edge

